<div class="container align-items-center justify-content-center page-container">
  <div class="row stream-row">
    <div class="stream-container">
        <div class="stream">

        </div>
    </div>
  </div>
  <div class="row stats-row">
    <div class="stats-container">
      <div class="stats">

      </div>
      <div class="stats">

      </div>
      <div class="stats">

      </div>
    </div>
  </div>
  <div class="row graphs-row">
    <div class="graphs-container">
    </div>
  </div>
  <div class="row stats-row">
    <div class="support-container">
    </div>
  </div>
</div>